{
  "env": {
    "cjs": {
      "presets": [["@babel/preset-env", {"modules": "cjs"}]]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  },
  "compact": true,
  "comments": false
}
